
body{
  background-color: #6e758d;
}

#datosentrada {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 20vh;
  }

#mapas{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

/* input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  } */