body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
    background-color: #6272a4;
  }

/* input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  } */